<!DOCTYPE html>

<html lang="en" ng-app="RegApp">
<head>
  <meta charset="UTF-8">
  <title>Registration</title>
  <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap-theme.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  
  <!-- Strange form container -->
  <div class="col-sm-2 col-lg-4">
  </div>
  <!-- My form container -->
  <div ng-controller="RegistrationCtrl as ctrl" class="col-sm-8 col-lg-4 "> 
    <h1> Registration </h1>
    <form name="registrationForm" ng-submit="ctrl.registerUser()" novalidate>
      <div class="form-group">
          <label for="email">Email address</label>
          <input id="email" name="email" type="email" placeholder="you@domain.com" class="form-control" ng-model="ctrl.user.email" />
          {{ctrl.user.email}}
      </div>
      <div class="form-group">
          <label for="password">Password</label>
          <input id="password" name="password" type="password" class="form-control" ng-model="ctrl.user.password" />
          {{ctrl.user.password}}
      </div>
      <div class="form-group">
          <label for="confirm-password">Confirm Password</label>
          <input id="confirm-password" name="confirm-password" type="password" class="form-control" />
          
      </div>
      <div class="form-group">
          <label for="fullname">Full Name</label>
          <input id="fullname" name="fullname" type="text" class="form-control" ng-model="ctrl.user.fullname" />
          {{ctrl.user.fullname}}
      </div>
      <div class="form-group">
          <label for="gender">Gender</label>
          <br/>
          <input ng-model="ctrl.user.gender" id="gender" name="gender" type="radio" value="M" /> Male
          <br/>
          <input ng-model="ctrl.user.gender" id="gender" name="gender" type="radio" value="F" /> Female
          <br/>
          {{ctrl.user.gender.value}}
      </div>
      <div class="form-group">
          <label for="dateOfBirth">Date of Birth</label>
          <input id="dateOfBirth" name="dateOfBirth" type="date" class="form-control" ng-model="ctrl.user.dateOfBirth" />
          {{ctrl.user.dateOfBirth}}
      </div>
      <div class="form-group">
          <label for="address">Address</label>
          <input id="address" name="address" type="text" class="form-control" ng-model="ctrl.user.address" />
          {{ctrl.user.address}}
      </div>
      <div class="form-group">
          <label for="nationality">Nationality</label>
          <select ng-model="ctrl.user.nationality" class="form-control" id="nationality">
          <option value="1">Singaporean</option>
          <option value="2">Malaysian</option>
          <option value="3">Thai</option>
          {{ctrl.user.nationality}}
      </select>
      </div>
      <div class="form-group">
          <label for="contactNumber">Contact number</label>
          <input id="contactNumber" name="contactNumber" type="text" class="form-control" ng-model="ctrl.user.contactNumber" />
          {{ctrl.user.contactNumber}}
      </div>
      <div class="form-group">
          <hr/>
          <input id="submit" name="submit" type="submit" class="btn btn-success" />
      </div>
    </form>
  </div> <!-- End of Kenneth form div -->

  <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
  <script type="text/javascript" src="/js/script.js"></script>
</body>
</html>